<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Molecules">
	<test name="OneMG" parallel="classes">
		<parameter name="url" value="https://www.netmeds.com/" />
		<classes>
			
			<class name="com.leaftaps.testcases.Netmeds_MEROPENEM1GM" />
			<!-- <class name="com.leaftaps.testcases.OneMg_VANCOMYCIN1GM" />
			<class name="com.leaftaps.testcases.Hari.OneMg_AluminiumHydroxide" />
			<class name="com.leaftaps.testcases.Hari.OneMg_Ambroxol_Phenylephrine_Levocetirizine5Mg" /> -->
			
		</classes>
	</test>
	
</suite>
